#{extends 'main.html' /}
#{set title:'Listagem de Salas Cadastradas' /}

<meta charset="utf-8">
<h1 class="h3 mb-3">Listagem de Salas Cadastradas</h1>

<span class="alert alert-primary alert-dismissible">Você encontrou um total de ${listaSalas.size()} registros</span>
<br>

<input type="hidden" name="sala.id" value="${sala?.id}">
<table class="table">
	<thead>
		<tr>
			<th style="width: 40%;">Num da Sala</th>
			<th style="width: 25%">Tipo de Sala</th>
		</tr>
	</thead>
	#{list items: listaSalas, as: 'sala'}
	<tbody>

		
			<tr>
			<td>${sala.numeroIdentificacao}</td>
			<td>${sala.tipo}</td>
			<td class="table-action"><a class="btn btn-outline-secondary" href="@{Salas.editar(sala.id)}">Editar</a>
			<a class="btn btn-outline-danger" href="@{Salas.remover(sala.id)}">Remover</a></td>
			</tr>
		
		
	</tbody>
	#{/list} #{else} Não há salas cadastrados #{/else}
</table>

<a class="btn btn-primary" href="@{Salas.form()}">Cadastrar salas</a>